---
import productBetweenTheTrails from '../assets/product-between-the-trails.jpg'
import Layout from '../layouts/Layout.astro'
import ContactArea from '../components/ContactArea.astro'
import MenuGroup from '../components/MenuGroup.astro'
import menu from '../assets/menu.json'
---

<Layout>
  <section id="products">
    <div class="container">
      <h2>Menu</h2>
      <h3>We have food</h3>

      <div class="product-image">
        <img src={productBetweenTheTrails.src} alt="Between the Trails" />
      </div>

      <div class="menu">
        {Object.entries(menu).map(([key, value]) => <MenuGroup menu={value} />)}
      </div>
    </div>
  </section>

  <ContactArea />
</Layout>

<style>
  .menu {
    max-width: 900px;
    margin: 0 auto;
    /* columns: 2 450px;
    column-gap: 1rem; */
    container-name: menu;
    container-type: inline-size;
  }
</style>
