---
import productBetweenTheTrails from '../assets/product-between-the-trails.jpg'
import Layout from '../layouts/Layout.astro'
import ContactArea from '../components/ContactArea.astro'
import MenuGroup from '../components/MenuGroup.astro'
import menu from '../assets/menu.json'
---

<Layout>
  <section id="products">
    <div class="container">
      <div class="menu">
        {Object.entries(menu).map(([key, value]) => <MenuGroup menu={value} />)}
      </div>
    </div>
  </section>

  <ContactArea />
</Layout>

<style>
  .menu {
    max-width: 900px;
    margin: 0 auto;
    container-name: menu;
    container-type: inline-size;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      display: block;
    }
  }
</style>
