---
import productBetweenTheTrails from '../assets/product-between-the-trails.jpg'
import Layout from '../layouts/Layout.astro'
import ContactArea from '../components/ContactArea.astro'
import MenuGroup from '../components/MenuGroup.astro'
import menu from '../assets/menu.json'
---

<Layout>
  <section id="products">
    <div class="container">
      <h2>Menu</h2>
      <h3>We have food</h3>

      <div class="product-image">
        <img src={productBetweenTheTrails.src} alt="Between the Trails" />
      </div>

      <div class="menu">
        {Object.entries(menu).map(([key, value]) => <MenuGroup menu={value} />)}
      </div>
    </div>
  </section>

  <ContactArea />
</Layout>

<style>
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
</style>
