<button id="backToTopButton" class="back-to-top">&UpArrow;</button>

<script>
  const backToTopButton = document.getElementById("backToTopButton");
  if (backToTopButton) {
    backToTopButton.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });

    window.addEventListener("scroll", () => {
      if (window.pageYOffset > 300) {
        backToTopButton.style.display = "block";
      } else {
        backToTopButton.style.display = "none";
      }
    });
  }
</script>

<style>
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 20px;
    z-index: 99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
</style>
