<section id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <div class="contact-info">
      <div class="address">
        <h3>Visit Us</h3>
        <p>
          <a href="https://maps.app.goo.gl/EtBkcaS8TYB67bqd6" target="_blank"
            >11891 Mine Rd<br />Sullivan, MO 63080</a
          >
        </p>
        <h3>Follow Us</h3>
        <p>
          <a href="https://www.facebook.com/ls4e1" target="_blank">Facebook</a>
        </p>
        <h3>Call Us</h3>
        <p><a href="tel:+15734689026">(573) 468-9026</a></p>
      </div>
      <div class="hours">
        <dl>
          <dt>Deli Hours</dt>
          <dd>
            <div>
              <p>Sunday - Thursday:<br />7:00 AM - 7:30 PM</p>
              <p>Friday & Saturday:<br />7:00 AM - 8:30 PM</p>
            </div>
          </dd>

          <dt>Store Hours</dt>
          <dd>
            <div>
              <p>Sunday - Thursday:<br />7:00 AM - 9 PM</p>
              <p>Friday & Saturday:<br />7:00 AM - 10 PM</p>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<style>
  #contact {
    background-color: var(--secondary-color);
    color: var(--dark-color);

    p {
      margin-block: min(3vw, 1.5rem);
      font-size: 0.9rem;
    }

    h2 {
      text-align: center;
      margin-bottom: 5vw;
      color: var(--light-color);
    }

    .hours {
      dd > div {
        p:not(:last-child) {
          margin: 0 0 0.5rem 0;
        }
        p {
          margin: 0 0 min(3vw, 1.5rem) 0;
        }
      }
    }
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    > div {
      background-color: var(--light-color);
      padding: 3cqw 0.5cqw;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      text-align: center;
    }

    h3,
    dt {
      color: var(--primary-color);
      margin-block-end: min(3vw, 1.25rem);
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  .email-content {
    word-break: break-all;
  }
</style>
