<footer>
  <div class="container">
    <p>
      &copy; Lil Bit of Something &middot; Strode Properties, LLC. All rights
      reserved.
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--dark-color);
    color: var(--light-text);
    padding: 30px 0;
    text-align: center;
    min-width: var(--min-width);
  }

  #steel-building-form {
    padding-block-start: 2.5rem;

    div {
      margin-block-end: 1rem;
    }

    input {
      border-block-end: 1px solid var(--dark-color);
    }
  }
</style>
